---
title: "Odisha to Suspend Ration Cards for Not Doing e-KYC Verification"
publication: "The Hindu"
date: 2025-07-01
href: "https://www.thehindu.com/news/national/odisha/odisha-to-suspend-ration-cards-of-2058-lakh-people-for-not-doing-e-kyc-verification-minister/article69755600.ece"
---
